.App {
  text-align: center;
}

.bg-black {
  background-color: #1E1F21;
}

.bg-white {
  background-color: #ABB7C4;
}

.text-color {
  color: #ABB7C4;
}

.candlestick {
  display: flex;
  align-items: end;
  padding: 0 10px;
}

.candlestick_bar {
  width: 10px;
  margin: 0 1px;
  position: relative;
}

.candlestick-highlow {
  background-color: white;
  z-index: 10;
}

.candlestick_bar > div {
  width: 100%;
}

.volume_chart {
  display: flex;
  align-items: end;
}

.volume_chart_bar {
  width: 10px;
}

.grid {
  display: grid;
  grid-template-areas:
    "chart chart"
    "chart chart";
  grid-template-columns: 50% 50%;
}

.chart {
  width: 100%;
  border: #ABB7C4 1px solid;
}

@media (max-width: 855px) {
  .grid {
    display: grid;
    grid-template-areas:
      "chart"
      "chart";
    grid-template-columns: 100%;
  }
}